## GraphSchema library - Tutorial 2 : set up a simple Schema (Classes, Properties) 
## and perform a data import (Data Nodes and relationships among them)

If you're new to Graph Databases, you can think of "Classes" and "Properties" along the lines of, respectively, "Table names" and "Table field lists".

If you need to first clear out your test database, one of the cells below (currently commented out) will conveniently let you do it

#### [Background Article on Schema in Graph Databases](https://julianspolymathexplorations.blogspot.com/2022/11/schema-graph-databases-neo4j.html)

In [1]:
import os
import sys
import getpass
import pandas as pd

from neoaccess import NeoAccess
from brainannex import GraphSchema
# In case of problems, try a sys.path.append(directory) , where directory is your project's root directory

# Connect to the database, 
#### using the `NeoAccess` library
#### You can use a free local install of the Neo4j database, or a remote one on a virtual machine under your control, or a hosted solution, or simply the FREE "Sandbox" : [instructions here](https://julianspolymathexplorations.blogspot.com/2023/03/neo4j-sandbox-tutorial-cypher.html)
NOTE: This tutorial is tested on **version 4.4** of the Neo4j database, but will probably also work on the new version 5 (NOT guaranteed, however...)

In [2]:
# Save your credentials here - or use the prompts given by the next cell
host = ""               # EXAMPLES:  bolt://123.456.789.012   OR   neo4j://localhost  
                        # (CAUTION: do NOT include the port number!)
password = ""

In [3]:
db = NeoAccess(host=host,
               credentials=("neo4j", password), debug=False)   # Notice the debug option being OFF

Connection to Neo4j database established.

In [4]:
print("Version of the Neo4j driver: ", db.version())

Version of the Neo4j driver:  4.4.11

# Import of data from a Pandas data frame using the `GraphSchema` library

### Initial setup

In [5]:
# CLEAR OUT THE DATABASE
#db.empty_dbase()       # UNCOMMENT IF DESIRED   *****************  WARNING: USE WITH CAUTION!!!  ************************

In [6]:
GraphSchema.set_database(db)

### Create the Schema

In [7]:
# Create a "City" Class node - together with its Properties, based on the data to import

GraphSchema.create_class_with_properties(name="City", properties=["City ID", "name"])

(19316, 'schema-1')

In [8]:
# Likewise for a "State" Class node - together with its Properties, based on the data to import

GraphSchema.create_class_with_properties(name="State", properties=["State ID", "name", "2-letter abbr"])

(19319, 'schema-4')

In [9]:
# Now add a relationship named "IS_IN", from the "City" Class to the "State" Class

GraphSchema.create_class_relationship(from_class="City", to_class="State", rel_name="IS_IN")

### Now import some data
We'll pass our data as Pandas data frames; those could easily be read in from CSV files, for example

In [10]:
city_df = pd.DataFrame({"City ID": [1, 2, 3, 4], "name": ["Berkeley", "Chicago", "San Francisco", "New York City"]})
city_df

   City ID           name
0        1       Berkeley
1        2        Chicago
2        3  San Francisco
3        4  New York City

In [11]:
state_df = pd.DataFrame({"State ID": [1, 2, 3], "name": ["California", "Illinois", "New York"], "2-letter abbr": ["CA", "IL", "NY"]})
state_df

   State ID        name 2-letter abbr
0         1  California            CA
1         2    Illinois            IL
2         3    New York            NY

In [12]:
# In this example, we assume a separate table ("join table") with the data about the relationships;
# this would always be the case for many-to-many relationships; 
# 1-to-many relationships, like we have here, could also be stored differently
state_city_links_df = pd.DataFrame({"State ID": [1, 1, 2, 3], "City ID": [1, 3, 2, 4]})
state_city_links_df

   State ID  City ID
0         1        1
1         1        3
2         2        2
3         3        4

#### Note: those dataframes would often be read in from CSV files, with instruction such as
#### city_df = pd.read_csv('D:\my_path\city_data_file.csv', encoding = "ISO-8859-1")

# Ingesting the Data Frames into the graph database is quite easy:

In [13]:
GraphSchema.import_pandas_nodes(df=city_df, class_node="City")

import_pandas_nodes(): getting ready to import 4 records...
    FINISHED importing a total of 4 records

[19323, 19324, 19325, 19326]

In [14]:
GraphSchema.import_pandas_nodes(df=state_df, class_node="State")

import_pandas_nodes(): getting ready to import 3 records...
    FINISHED importing a total of 3 records

[19327, 19328, 19329]

In [15]:
GraphSchema.import_pandas_links(df=state_city_links_df,
                              class_from="City", class_to="State", 
                              col_from="City ID", col_to="State ID",                            
                              link_name="IS_IN")

Getting ready to import 4 links...
    FINISHED importing a total of 4 links

[57198, 57199, 57200, 57201]

_This is what we have created with our import:_

![Schema](https://raw.githubusercontent.com/BrainAnnex/brain-annex/main/docs/schema_tutorial_2_import.jpg)

#### Notice that the data from that "join table" (with "State ID" and "City ID") that was used for the import, to link up states and cities, is now stored as RELATIONSHIPS - nativety represented in the graph database