## NeoSchema library - Tutorial 2 : set up a simple Schema (Classes, Properties) 
## and perform a data import (Data Nodes)

#### CAUTION: running this tutorial will clear out the database

#### [Article](https://julianspolymathexplorations.blogspot.com/2022/11/schema-graph-databases-neo4j.html) to accompany this tutorial

In [1]:
import set_path      # Importing this module will add the project's home directory to sys.path

Added 'D:\Docs\- MY CODE\Brain Annex\BA-Win7' to sys.path

In [2]:
import os
import sys
import getpass
import pandas as pd

from datetime import datetime 
from neo4j.time import DateTime

from neoaccess import NeoAccess
from BrainAnnex.modules.neo_schema.neo_schema import NeoSchema

# Connect to the database, 
#### using the `NeoAccess` library
#### You can use a free local install of the Neo4j database, or a remote one on a virtual machine under your control, or a hosted solution, or simply the FREE "Sandbox" : [instructions here](https://julianspolymathexplorations.blogspot.com/2023/03/neo4j-sandbox-tutorial-cypher.html)
NOTE: This tutorial is tested on version 4 of the Neo4j database, but will probably also work on the new version 5

In [3]:
# Save your credentials here (and skip the next cell!) - or use the prompts given by the next cell
host = "bolt://YOUR_OWN"
password = "YOUR_PASS"

In [4]:
db = NeoAccess(host=host,
               credentials=("neo4j", password), debug=False)   # Notice the debug option being OFF

Connection to Neo4j database established.

In [5]:
print("Version of the Neo4j driver: ", db.version())

Version of the Neo4j driver:  4.4.11

# Import of data from a Pandas data frame using the `NeoSchema` library

### Initial setup

In [6]:
db.empty_dbase()       # ******  WARNING: USE WITH CAUTION!!!  ******

In [7]:
NeoSchema.set_database(db)

### Create the Schema

In [8]:
# Create a "SiteLinks" Class node - together with its Properties

NeoSchema.create_class_with_properties(name="Site Link", property_list=["uri", "url", "name", "comments", "rating", "read", "date_created"])

(852, 1)

In [9]:
df = pd.read_csv('D:\Docs\Brain Annex\- DATA TRANSFER IP\BA_siteLinks.csv', encoding = "ISO-8859-1")
df

,uri,url,name,comments,rating,read,date_created
0,sl-1,https://www.coursera.org/,Coursera,taken several courses. But they hide some past...,4.0,NaN,2015-08-01 00:00:00
1,sl-2,https://www.edx.org/,edX,taken course from,4.0,NaN,2015-08-01 00:00:00
2,sl-3,https://www.khanacademy.org/,Khan Academy,taken course from,4.0,NaN,2015-08-01 00:00:00
3,sl-4,https://www.youtube.com/user/MIT/playlists,MIT (YouTube playlists),taken courses from,4.0,NaN,2015-08-01 00:00:00
4,sl-5,http://ocw.mit.edu/index.htm,MIT (own site),NaN,4.0,NaN,2015-08-01 00:00:00
...,...,...,...,...,...,...,...
5174,sl-5548,https://www.facebook.com/groups/31768815836776...,Friends looking for SF housing! -Anjou,12/2023 - much-revived; essentially 100% SF focus,3.0,y,2023-12-12 20:19:35
5175,sl-5549,https://www.facebook.com/groups/21767166258966...,"San Francisco Housing, Rooms, Apartments, Sublets","12/2023 - trashy, spammy, commercial slant, st...",3.0,no,2023-12-12 20:27:16
5176,sl-5550,https://www.facebook.com/groups/CaliforniaHous...,Housing @ San Francisco Bay Area Apartments/Ro...,"12/2023 - somewhat spammy, strong SF focus",3.0,no,2023-12-12 20:35:46
5177,sl-5551,https://www.facebook.com/groups/30324133972548...,Bay Area Conscious Community Housing Board,"12/2023 - maybe the best group, all around",3.0,no,2023-12-13 20:14:00
5178,sl-5552,https://www.memcpu.com/,MemComputing,"intriguing new architecture, primarily for opt...",3.5,peek,2023-12-18 23:28:52

In [10]:
df_small = df.loc[0:35]
df_small

,uri,url,name,comments,rating,read,date_created
0,sl-1,https://www.coursera.org/,Coursera,taken several courses. But they hide some past...,4.0,NaN,2015-08-01 00:00:00
1,sl-2,https://www.edx.org/,edX,taken course from,4.0,NaN,2015-08-01 00:00:00
2,sl-3,https://www.khanacademy.org/,Khan Academy,taken course from,4.0,NaN,2015-08-01 00:00:00
3,sl-4,https://www.youtube.com/user/MIT/playlists,MIT (YouTube playlists),taken courses from,4.0,NaN,2015-08-01 00:00:00
4,sl-5,http://ocw.mit.edu/index.htm,MIT (own site),NaN,4.0,NaN,2015-08-01 00:00:00
5,sl-6,http://sciconcilium.com/,"Sciconcilium - Connecting Science, Technology ...",NaN,3.0,NaN,2015-08-01 00:00:00
6,sl-7,https://chrome.google.com/webstore/detail/sess...,Session Manager Chrome Extension,recommended on vox.com,4.0,NaN,2015-08-01 00:00:00
7,sl-8,http://www.vox.com/2015/6/1/8695555/browser-tabs,"I have 227 browser tabs open, and my computer ...",Management of large # of browser tabs,4.0,NaN,2015-08-01 00:00:00
8,sl-9,https://www.yahoo.com/tech/s/roku-vs-apple-tv-...,Roku vs. Chromecast vs. Amazon Fire TV vs. Goo...,Comparison of video streamers,3.0,NaN,2015-08-01 00:00:00
9,sl-10,https://www.quantamagazine.org/20150514-the-pa...,Ultrahigh-energy cosmic rays,NaN,3.0,NaN,2015-08-01 00:00:00
10,sl-11,https://www.quantamagazine.org/,Quanta Magazine,some good stuff!,3.0,NaN,2015-08-01 00:00:00
11,sl-12,http://drchinese.com/David/Bell_Theorem_Easy_M...,Bell's Theorem with Easy Math,helpful,3.0,NaN,2015-08-01 00:00:00
12,sl-13,https://www.yahoo.com/politics/-veterans-capti...,'Veterans': Captivating portraits of WWII surv...,poignant!,3.0,NaN,2015-08-01 00:00:00
13,sl-14,http://www.theonion.com/article/obama-not-ruli...,Obama Not Ruling Out U.S. Military Action In C...,NaN,3.0,NaN,2015-08-01 00:00:00
14,sl-15,http://www.biomedcentral.com/1741-7007/12/76,An inside-out origin for the eukaryotic cell,intriguing!,3.0,NaN,2015-08-01 00:00:00
15,sl-16,http://www.mathtutordvd.com/,Video Tutorial Lessons,NaN,3.0,NaN,2015-08-01 00:00:00
16,sl-17,http://www.edudemic.com/affordable-online-coll...,Rankings & Report of DEGREE-GRANTING online co...,NaN,3.0,NaN,2015-08-01 00:00:00
17,sl-18,http://www.huffingtonpost.com/2015/06/05/blood...,Study Uncovers Link Between Blood Type And Ris...,(good news for me!),3.0,NaN,2015-08-01 00:00:00
18,sl-19,http://www.lifesci.sussex.ac.uk/home/John_Grib...,Cosmology for beginners,NaN,3.0,NaN,2015-08-01 00:00:00
19,sl-20,http://www.sciamdigital.com/index.cfm?fa=Produ...,Scientific American Digital Digital archive,NaN,3.0,NaN,2015-08-01 00:00:00
20,sl-21,http://www.3dprinter-world.com/,3D Printer World,NaN,3.0,NaN,2015-08-01 00:00:00
21,sl-22,http://news.bbc.co.uk/1/hi/sci/tech/default.stm,BBC NEWS Science-Nature,NaN,3.0,NaN,2015-08-01 00:00:00
22,sl-23,http://www.ndep.us/LabTV,Educational Science Videos,NaN,3.0,NaN,2015-08-01 00:00:00
23,sl-24,http://www.eurekalert.org/,EurekAlert!,OK,3.0,NaN,2015-08-01 00:00:00
24,sl-25,http://www.extremetech.com/,ExtremeTech,NaN,3.0,NaN,2015-08-01 00:00:00
25,sl-26,http://www.gizmag.com/,Gizmag - New and Emerging Technology News,OK!,3.0,NaN,2015-08-01 00:00:00
26,sl-27,http://spectrum.ieee.org/,IEEE Spectrum Technology,OK - a little fluffy,2.5,NaN,2015-08-01 00:00:00
27,sl-28,http://www.innovations-report.com/reports/repo...,Innovation Reports - Life Sciences / Science /...,NaN,3.0,NaN,2015-08-01 00:00:00
28,sl-29,http://www.kurzweilai.net/,Kurzweil Accelerating Intelligence,NaN,3.0,NaN,2015-08-01 00:00:00
29,sl-30,http://medicalxpress.com/,Medical Xpress,GOOD,3.5,NaN,2015-08-01 00:00:00
30,sl-31,http://www.medinewsdirect.com/,MediNEWS.Direct! - Leading Peer-Reviewed Medic...,NaN,3.0,NaN,2015-08-01 00:00:00
31,sl-32,https://www.youtube.com/watch?v=QA67v4vSg00,MIT Video on optogenetics,2011. Good detailed intro (no mention of fusio...,3.0,NaN,2015-08-01 00:00:00
32,sl-33,http://myscienceacademy.org/,MyScienceAcademy,OK - a little fluffy,2.5,NaN,2015-08-01 00:00:00
33,sl-34,http://www.nanowerk.com/,Nanotechnology and Nanoscience,NaN,3.0,NaN,2015-08-01 00:00:00
34,sl-35,http://www.nature.com/nature/archive/index.html,Nature,"GOOD (look in EACH ISSUE at News in Focus, esp...",3.5,NaN,2015-08-01 00:00:00
35,sl-36,http://www.nature.com/news/archive/061113.html,news @ nature.com,NaN,3.0,NaN,2015-08-01 00:00:00

In [11]:
new_ids = NeoSchema.import_pandas_nodes(df=df_small, class_node="Site Link", extra_labels = "BA", schema_code="sl", datetime_cols="date_created")

In [12]:
len(new_ids)

36

In [13]:
df_rel = pd.read_csv('D:\Docs\Brain Annex\- DATA TRANSFER IP\BA_headers_cat.csv', encoding = "ISO-8859-1")
df_rel

    item_uri  old_ba_id  pos
0        h-4       1195    0
1        h-5       1195   60
2        h-6        756    0
3        h-7        756   60
4        h-9        823    0
..       ...        ...  ...
874   h-1186         67  305
875   h-1187       1154   50
876   h-1188        423   87
877   h-1189        431   95
878   h-1190       1070   47

[879 rows x 3 columns]

In [14]:
NeoSchema.create_class_with_properties(name="Categories" , property_list=["name", "old_ba_id"])

(356, 4)

In [15]:
NeoSchema.create_data_node(class_node="Categories", properties={'name': 'SciPy & Scikit-Learn', 'old_ba_id': 1195})

359

In [16]:
NeoSchema.create_data_node(class_node="Categories", properties={'name': 'Tensor Flow', 'old_ba_id': 756})

360

In [17]:
NeoSchema.create_data_node(class_node="Categories", properties={'name': 'Melissa Data Products', 'old_ba_id': 823})

361

In [18]:
df_rel_small = df_rel  # df_rel[0:8]
df_rel_small

    item_uri  old_ba_id  pos
0        h-4       1195    0
1        h-5       1195   60
2        h-6        756    0
3        h-7        756   60
4        h-9        823    0
..       ...        ...  ...
874   h-1186         67  305
875   h-1187       1154   50
876   h-1188        423   87
877   h-1189        431   95
878   h-1190       1070   47

[879 rows x 3 columns]

In [19]:
'''
NeoSchema.import_pandas_links(df=df_rel_small, class_from="Headers", class_to="Categories",
                             col_from="item_uri", col_to="old_ba_id",                            
                             link_name="BA_in_category", col_link_props="pos",
                             name_map={"item_uri": "uri"}, skip_errors=True)
'''

import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-10', 'old_ba_id': 819, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-11', 'old_ba_id': 819, 'pos': 90}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-13', 'old_ba_id': 819, 'pos': 350}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-15', 'old_ba_id': 819, 'pos': 480}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-16', 'old_ba_id': 819, 'pos': 300}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-18', 'old_ba_id': 636, 'pos': 120}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-21', 'old_ba_id': 819, 'pos': 670}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-23', 'old_ba_id': 728, 'pos': 470}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-24', 'old_ba_id': 819, 'pos': 620}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-27', 'old_ba_id': 819, 'pos': 727}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-29', 'old_ba_id': 812, 'pos': 447}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-30', 'old_ba_id': 752, 'pos': 475}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-31', 'old_ba_id': 819, 'pos': 757}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-33', 'old_ba_id': 819, 'pos': 832}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-34', 'old_ba_id': 819, 'pos': 864}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-35', 'old_ba_id': 632, 'pos': 45}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-36', 'old_ba_id': 632, 'pos': 88}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-41', 'old_ba_id': 765, 'pos': -10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-42', 'old_ba_id': 765, 'pos': 50}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-43', 'old_ba_id': 784, 'pos': 795}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-44', 'old_ba_id': 249, 'pos': 35}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-45', 'old_ba_id': 840, 'pos': 845}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-46', 'old_ba_id': 840, 'pos': 2235}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-47', 'old_ba_id': 784, 'pos': 430}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-48', 'old_ba_id': 784, 'pos': 565}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-50', 'old_ba_id': 728, 'pos': -10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-51', 'old_ba_id': 858, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-52', 'old_ba_id': 858, 'pos': 17}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-54', 'old_ba_id': 858, 'pos': 54}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-55', 'old_ba_id': 858, 'pos': 68}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-56', 'old_ba_id': 858, 'pos': 95}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-58', 'old_ba_id': 858, 'pos': 120}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-59', 'old_ba_id': 858, 'pos': 155}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-60', 'old_ba_id': 858, 'pos': 225}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-61', 'old_ba_id': 858, 'pos': 335}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-65', 'old_ba_id': 807, 'pos': 162}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-66', 'old_ba_id': 780, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-68', 'old_ba_id': 114, 'pos': 50}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-69', 'old_ba_id': 114, 'pos': 10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-70', 'old_ba_id': 831, 'pos': 78}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-71', 'old_ba_id': 831, 'pos': 130}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-74', 'old_ba_id': 870, 'pos': -10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-75', 'old_ba_id': 870, 'pos': 35}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-76', 'old_ba_id': 479, 'pos': 25}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-78', 'old_ba_id': 815, 'pos': 290}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-80', 'old_ba_id': 873, 'pos': 87}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-81', 'old_ba_id': 873, 'pos': 130}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-83', 'old_ba_id': 1267, 'pos': 10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-85', 'old_ba_id': 750, 'pos': 25}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-88', 'old_ba_id': 881, 'pos': 141}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-89', 'old_ba_id': 858, 'pos': 385}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-91', 'old_ba_id': 916, 'pos': 30}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-92', 'old_ba_id': 884, 'pos': 122}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-93', 'old_ba_id': 884, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-94', 'old_ba_id': 881, 'pos': -8}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-95', 'old_ba_id': 881, 'pos': 170}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-96', 'old_ba_id': 885, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-97', 'old_ba_id': 885, 'pos': 50}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-98', 'old_ba_id': 881, 'pos': 200}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-99', 'old_ba_id': 228, 'pos': 234}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-100', 'old_ba_id': 870, 'pos': 73}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-101', 'old_ba_id': 853, 'pos': 130}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-102', 'old_ba_id': 888, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-103', 'old_ba_id': 885, 'pos': 150}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-104', 'old_ba_id': 885, 'pos': 105}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-105', 'old_ba_id': 885, 'pos': 128}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-106', 'old_ba_id': 885, 'pos': 92}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-109', 'old_ba_id': 848, 'pos': 60}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-110', 'old_ba_id': 888, 'pos': 210}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-111', 'old_ba_id': 888, 'pos': 260}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-112', 'old_ba_id': 887, 'pos': 100}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-114', 'old_ba_id': 885, 'pos': 175}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-116', 'old_ba_id': 789, 'pos': 180}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-117', 'old_ba_id': 906, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-119', 'old_ba_id': 859, 'pos': 29}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-120', 'old_ba_id': 859, 'pos': 65}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-122', 'old_ba_id': 541, 'pos': 70}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-123', 'old_ba_id': 541, 'pos': -5}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-125', 'old_ba_id': 728, 'pos': 255}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-126', 'old_ba_id': 764, 'pos': 100}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-127', 'old_ba_id': 621, 'pos': 210}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-128', 'old_ba_id': 1168, 'pos': 200}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-129', 'old_ba_id': 1168, 'pos': 160}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-132', 'old_ba_id': 859, 'pos': 14}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-133', 'old_ba_id': 1047, 'pos': 400}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-141', 'old_ba_id': 922, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-143', 'old_ba_id': 1095, 'pos': 70}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-144', 'old_ba_id': 831, 'pos': 295}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-145', 'old_ba_id': 628, 'pos': 48}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-146', 'old_ba_id': 922, 'pos': 580}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-147', 'old_ba_id': 249, 'pos': -10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-148', 'old_ba_id': 850, 'pos': 105}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-149', 'old_ba_id': 850, 'pos': 200}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-150', 'old_ba_id': 14, 'pos': 130}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-151', 'old_ba_id': 910, 'pos': 170}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-152', 'old_ba_id': 140, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-153', 'old_ba_id': 140, 'pos': 10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-155', 'old_ba_id': 911, 'pos': -3}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-156', 'old_ba_id': 632, 'pos': 105}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-157', 'old_ba_id': 632, 'pos': 355}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-158', 'old_ba_id': 632, 'pos': -10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-159', 'old_ba_id': 632, 'pos': 43}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-162', 'old_ba_id': 910, 'pos': 244}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-164', 'old_ba_id': 911, 'pos': 67}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-165', 'old_ba_id': 911, 'pos': 62}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-166', 'old_ba_id': 714, 'pos': 160}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-171', 'old_ba_id': 1140, 'pos': 120}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-173', 'old_ba_id': 911, 'pos': -23}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-174', 'old_ba_id': 911, 'pos': 102}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-175', 'old_ba_id': 910, 'pos': 305}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-176', 'old_ba_id': 281, 'pos': 59}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-177', 'old_ba_id': 216, 'pos': 65}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-178', 'old_ba_id': 621, 'pos': 165}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-179', 'old_ba_id': 495, 'pos': 127}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-180', 'old_ba_id': 495, 'pos': 90}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-181', 'old_ba_id': 911, 'pos': 115}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-184', 'old_ba_id': 922, 'pos': 910}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-185', 'old_ba_id': 921, 'pos': 840}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-188', 'old_ba_id': 725, 'pos': 470}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-190', 'old_ba_id': 918, 'pos': 25}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-191', 'old_ba_id': 816, 'pos': 40}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-192', 'old_ba_id': 921, 'pos': 950}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-193', 'old_ba_id': 186, 'pos': 45}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-194', 'old_ba_id': 931, 'pos': 10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-195', 'old_ba_id': 931, 'pos': -5}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-202', 'old_ba_id': 933, 'pos': 157}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-203', 'old_ba_id': 935, 'pos': 90}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-204', 'old_ba_id': 799, 'pos': 152}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-205', 'old_ba_id': 799, 'pos': 141}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-206', 'old_ba_id': 799, 'pos': 175}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-207', 'old_ba_id': 933, 'pos': 145}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-208', 'old_ba_id': 933, 'pos': 54}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-210', 'old_ba_id': 23, 'pos': 795}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-211', 'old_ba_id': 23, 'pos': 355}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-212', 'old_ba_id': 769, 'pos': 325}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-213', 'old_ba_id': 65, 'pos': 80}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-214', 'old_ba_id': 935, 'pos': 67}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-215', 'old_ba_id': 228, 'pos': 203}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-216', 'old_ba_id': 921, 'pos': 680}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-217', 'old_ba_id': 921, 'pos': 720}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-219', 'old_ba_id': 769, 'pos': 335}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-221', 'old_ba_id': 930, 'pos': 120}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-222', 'old_ba_id': 933, 'pos': 134}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-224', 'old_ba_id': 950, 'pos': 11}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-225', 'old_ba_id': 788, 'pos': 85}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-226', 'old_ba_id': 115, 'pos': 265}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-227', 'old_ba_id': 951, 'pos': 10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-228', 'old_ba_id': 951, 'pos': 60}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-229', 'old_ba_id': 951, 'pos': 80}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-230', 'old_ba_id': 950, 'pos': 90}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-231', 'old_ba_id': 950, 'pos': -20}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-232', 'old_ba_id': 953, 'pos': 45}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-233', 'old_ba_id': 950, 'pos': -40}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-234', 'old_ba_id': 24, 'pos': 270}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-235', 'old_ba_id': 924, 'pos': -43}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-236', 'old_ba_id': 599, 'pos': -5}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-238', 'old_ba_id': 538, 'pos': 531}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-239', 'old_ba_id': 260, 'pos': 21}

[1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612]

In [20]:
NeoSchema.import_pandas_links(df=df_rel_small, class_from="Headers", class_to="Categories",
                             col_from="item_uri", col_to="old_ba_id",                            
                             link_name="BA_in_category", col_link_props="pos",
                             name_map={"item_uri": "uri"}, skip_errors=True)

import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-4', 'old_ba_id': 1195, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-5', 'old_ba_id': 1195, 'pos': 60}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-6', 'old_ba_id': 756, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-7', 'old_ba_id': 756, 'pos': 60}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-9', 'old_ba_id': 823, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-10', 'old_ba_id': 819, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-11', 'old_ba_id': 819, 'pos': 90}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-13', 'old_ba_id': 819, 'pos': 350}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-15', 'old_ba_id': 819, 'pos': 480}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-16', 'old_ba_id': 819, 'pos': 300}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-18', 'old_ba_id': 636, 'pos': 120}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-21', 'old_ba_id': 819, 'pos': 670}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-23', 'old_ba_id': 728, 'pos': 470}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-24', 'old_ba_id': 819, 'pos': 620}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-25', 'old_ba_id': 823, 'pos': 70}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-27', 'old_ba_id': 819, 'pos': 727}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-29', 'old_ba_id': 812, 'pos': 447}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-30', 'old_ba_id': 752, 'pos': 475}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-31', 'old_ba_id': 819, 'pos': 757}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-33', 'old_ba_id': 819, 'pos': 832}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-34', 'old_ba_id': 819, 'pos': 864}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-35', 'old_ba_id': 632, 'pos': 45}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-36', 'old_ba_id': 632, 'pos': 88}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-41', 'old_ba_id': 765, 'pos': -10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-42', 'old_ba_id': 765, 'pos': 50}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-43', 'old_ba_id': 784, 'pos': 795}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-44', 'old_ba_id': 249, 'pos': 35}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-45', 'old_ba_id': 840, 'pos': 845}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-46', 'old_ba_id': 840, 'pos': 2235}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-47', 'old_ba_id': 784, 'pos': 430}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-48', 'old_ba_id': 784, 'pos': 565}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-50', 'old_ba_id': 728, 'pos': -10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-51', 'old_ba_id': 858, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-52', 'old_ba_id': 858, 'pos': 17}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-54', 'old_ba_id': 858, 'pos': 54}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-55', 'old_ba_id': 858, 'pos': 68}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-56', 'old_ba_id': 858, 'pos': 95}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-58', 'old_ba_id': 858, 'pos': 120}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-59', 'old_ba_id': 858, 'pos': 155}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-60', 'old_ba_id': 858, 'pos': 225}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-61', 'old_ba_id': 858, 'pos': 335}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-65', 'old_ba_id': 807, 'pos': 162}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-66', 'old_ba_id': 780, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-68', 'old_ba_id': 114, 'pos': 50}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-69', 'old_ba_id': 114, 'pos': 10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-70', 'old_ba_id': 831, 'pos': 78}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-71', 'old_ba_id': 831, 'pos': 130}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-74', 'old_ba_id': 870, 'pos': -10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-75', 'old_ba_id': 870, 'pos': 35}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-76', 'old_ba_id': 479, 'pos': 25}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-78', 'old_ba_id': 815, 'pos': 290}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-80', 'old_ba_id': 873, 'pos': 87}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-81', 'old_ba_id': 873, 'pos': 130}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-83', 'old_ba_id': 1267, 'pos': 10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-85', 'old_ba_id': 750, 'pos': 25}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-88', 'old_ba_id': 881, 'pos': 141}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-89', 'old_ba_id': 858, 'pos': 385}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-91', 'old_ba_id': 916, 'pos': 30}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-92', 'old_ba_id': 884, 'pos': 122}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-93', 'old_ba_id': 884, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-94', 'old_ba_id': 881, 'pos': -8}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-95', 'old_ba_id': 881, 'pos': 170}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-96', 'old_ba_id': 885, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-97', 'old_ba_id': 885, 'pos': 50}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-98', 'old_ba_id': 881, 'pos': 200}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-99', 'old_ba_id': 228, 'pos': 234}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-100', 'old_ba_id': 870, 'pos': 73}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-101', 'old_ba_id': 853, 'pos': 130}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-102', 'old_ba_id': 888, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-103', 'old_ba_id': 885, 'pos': 150}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-104', 'old_ba_id': 885, 'pos': 105}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-105', 'old_ba_id': 885, 'pos': 128}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-106', 'old_ba_id': 885, 'pos': 92}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-109', 'old_ba_id': 848, 'pos': 60}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-110', 'old_ba_id': 888, 'pos': 210}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-111', 'old_ba_id': 888, 'pos': 260}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-112', 'old_ba_id': 887, 'pos': 100}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-114', 'old_ba_id': 885, 'pos': 175}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-116', 'old_ba_id': 789, 'pos': 180}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-117', 'old_ba_id': 906, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-119', 'old_ba_id': 859, 'pos': 29}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-120', 'old_ba_id': 859, 'pos': 65}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-122', 'old_ba_id': 541, 'pos': 70}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-123', 'old_ba_id': 541, 'pos': -5}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-125', 'old_ba_id': 728, 'pos': 255}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-126', 'old_ba_id': 764, 'pos': 100}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-127', 'old_ba_id': 621, 'pos': 210}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-128', 'old_ba_id': 1168, 'pos': 200}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-129', 'old_ba_id': 1168, 'pos': 160}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-132', 'old_ba_id': 859, 'pos': 14}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-133', 'old_ba_id': 1047, 'pos': 400}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-141', 'old_ba_id': 922, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-143', 'old_ba_id': 1095, 'pos': 70}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-144', 'old_ba_id': 831, 'pos': 295}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-145', 'old_ba_id': 628, 'pos': 48}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-146', 'old_ba_id': 922, 'pos': 580}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-147', 'old_ba_id': 249, 'pos': -10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-148', 'old_ba_id': 850, 'pos': 105}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-149', 'old_ba_id': 850, 'pos': 200}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-150', 'old_ba_id': 14, 'pos': 130}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-151', 'old_ba_id': 910, 'pos': 170}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-152', 'old_ba_id': 140, 'pos': 0}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-153', 'old_ba_id': 140, 'pos': 10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-155', 'old_ba_id': 911, 'pos': -3}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-156', 'old_ba_id': 632, 'pos': 105}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-157', 'old_ba_id': 632, 'pos': 355}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-158', 'old_ba_id': 632, 'pos': -10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-159', 'old_ba_id': 632, 'pos': 43}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-162', 'old_ba_id': 910, 'pos': 244}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-164', 'old_ba_id': 911, 'pos': 67}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-165', 'old_ba_id': 911, 'pos': 62}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-166', 'old_ba_id': 714, 'pos': 160}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-171', 'old_ba_id': 1140, 'pos': 120}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-173', 'old_ba_id': 911, 'pos': -23}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-174', 'old_ba_id': 911, 'pos': 102}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-175', 'old_ba_id': 910, 'pos': 305}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-176', 'old_ba_id': 281, 'pos': 59}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-177', 'old_ba_id': 216, 'pos': 65}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-178', 'old_ba_id': 621, 'pos': 165}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-179', 'old_ba_id': 495, 'pos': 127}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-180', 'old_ba_id': 495, 'pos': 90}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-181', 'old_ba_id': 911, 'pos': 115}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-184', 'old_ba_id': 922, 'pos': 910}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-185', 'old_ba_id': 921, 'pos': 840}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-188', 'old_ba_id': 725, 'pos': 470}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-190', 'old_ba_id': 918, 'pos': 25}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-191', 'old_ba_id': 816, 'pos': 40}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-192', 'old_ba_id': 921, 'pos': 950}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-193', 'old_ba_id': 186, 'pos': 45}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-194', 'old_ba_id': 931, 'pos': 10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-195', 'old_ba_id': 931, 'pos': -5}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-202', 'old_ba_id': 933, 'pos': 157}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-203', 'old_ba_id': 935, 'pos': 90}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-204', 'old_ba_id': 799, 'pos': 152}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-205', 'old_ba_id': 799, 'pos': 141}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-206', 'old_ba_id': 799, 'pos': 175}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-207', 'old_ba_id': 933, 'pos': 145}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-208', 'old_ba_id': 933, 'pos': 54}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-210', 'old_ba_id': 23, 'pos': 795}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-211', 'old_ba_id': 23, 'pos': 355}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-212', 'old_ba_id': 769, 'pos': 325}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-213', 'old_ba_id': 65, 'pos': 80}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-214', 'old_ba_id': 935, 'pos': 67}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-215', 'old_ba_id': 228, 'pos': 203}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-216', 'old_ba_id': 921, 'pos': 680}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-217', 'old_ba_id': 921, 'pos': 720}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-219', 'old_ba_id': 769, 'pos': 335}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-221', 'old_ba_id': 930, 'pos': 120}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-222', 'old_ba_id': 933, 'pos': 134}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-224', 'old_ba_id': 950, 'pos': 11}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-225', 'old_ba_id': 788, 'pos': 85}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-226', 'old_ba_id': 115, 'pos': 265}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-227', 'old_ba_id': 951, 'pos': 10}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-228', 'old_ba_id': 951, 'pos': 60}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-229', 'old_ba_id': 951, 'pos': 80}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-230', 'old_ba_id': 950, 'pos': 90}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-231', 'old_ba_id': 950, 'pos': -20}
import_pandas_links(): failed to create a new relationship for Pandas row: {'item_uri': 'h-232', 'old_ba_id': 953, 'pos': 45}

[]